* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainColor : #38CFE8;
  --secondColor : #7E94DC;
}

@font-face {
  font-family: 'webs';
  src: url('../fonts/webs.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(45deg, #3B5CC5 0%, #3BC5B7 50%, #8444CD 100%);
  min-height: 100vh;
  font-family: 'webs', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60vw;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.50);
  border: 5px solid red;
  border-radius: 25px;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main p {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
